body {
    height: 100vh;
    width: 100vw; 
    background-color: darkolivegreen;
    color: wheat;
    h1 {
        text-align: center;
    }

}

.title {
    margin: 0; 
    font-size: 3rem;
    padding-bottom: 2rem;
}
#user {
    background-color: cornsilk;
    width: 15rem;
    height: 5rem;
    border: none;
    text-align: center;
    border-radius: 50px;
}
button {
    background-color: chocolate;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 5em;
    height: 5em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 14px;
    
    
}



#menuDeroulant {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#toDoList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    #items{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        .task {
            border: solid;
            background-color: rgb(32, 79, 32);
            display: flex;
            flex-direction: row;
            width: 20%;
            height: auto;
            justify-content: space-between;
            transition: 1s;
            .text {
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;

            }
            .item-manipulation {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;
                padding: 2rem;
                gap: 10px;
                button , input {
                    width: 5rem;
                    height: 2rem;
                    border-radius: 14px;
                }
                input {
                    width: 5rem;
                    height: 2rem;
                    border-radius: 14px;
                    text-align: center;
                }

                
            }
        }
    }
}
.displayed {
    display: flex !important; 
}
.notdisplayed {
    display: none !important;
}
.completed {
    transition: 1s;
    background-color: green !important;
    .text {
        text-decoration: line-through;
        color:violet;
        transition: 1s;
    }
}