body {
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    color: wheat;


}

.title {
    margin: 0; 
    font-size: 3rem;
}
button {
    background-color: chocolate;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    
}